%h1 Event#index
%p Find me in app/views/event/index.html.erb

%table 
  %tr
    %td Date
    %td Title
    %td Address
  - @events.each do |event|
    %tr
      %td
        = event.started_at.strftime('%m/%d')
        = "-"+event.ended_at.strftime('%m/%d') if event.ended_at
      %td= link_to(event.title, event.url)
      %td= event.address

